___
# Ciência dos Dados - PROJETO 1

## Matheus Augusto Soares
___

## Como é a taxa de analfabetismo e a escolaridade de acordo com a etnia de pessoas consideradas adultas?

___
## Introdução
As taxas de analfabestismo deve ser analisada

___
## Filtros da base de dados

In [48]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [49]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\mathe\Desktop\Ano Da DP\Ciencia dos Dados\PROJETO 1

In [82]:
dados = pd.read_csv('PES2015.csv',sep=',')
dados.head()

#UF=Estado 
#V0601=Analfabetismo
#V6003=Curso que frequenta
df1=dados.loc[:,['V0404','V0601',"V6003",'V8005']]
#df1=df1.dropna(subset=['V0404','V0601','V6003'])


#Limpando o DF
df2=df1.dropna(how='any')

df2.V0404= df2.V0404.astype('category')
df2.V0601=df2.V0601.astype('category')
df2.V6003=df2.V6003.astype('category')

df2.V0404.cat.categories = ('Branca','Preta','Amarela','Parda','Indígena')
df2.V0601.cat.categories = ('Sim','Não')
df2.V6003.cat.categories = ('Regular do Ensino Fundamental','Regular Ensino Médio','Educação de jovens e adultos ou supletivo do ensino fundamental','Educação de jovens e adultos ou supletivo do ensino médio','Superior de graduação','Alfabetização de jovens e adultos','Creche','Classe de alfabetização - CA ','Maternal, jardim de infância etc.','Pré-vestibular','Mestrado ou doutorado')

C:\Users\mathe\Anaconda3\lib\site-packages\pandas\core\generic.py:2999: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [78]:
type(False)
booleans=[]

for idade in df2.V8005:
    if idade >= 21 and idade <= 45:
        booleans.append(True)
    else:
        booleans.append(False)
        
booleans[0:5]

[True, False, False, False, False]

In [81]:
adulto=pd.Series(booleans)
df3=df2[booleans]
df3.head()

       V0404 V0601                  V6003  V8005
2   Indígena   Sim  Superior de graduação     35
33  Indígena   Sim  Superior de graduação     22
38  Indígena   Sim  Superior de graduação     24
54   Amarela   Sim  Superior de graduação     35
57     Preta   Sim  Superior de graduação     22

___
## Análise e Resultados

___
## Conclusão

Descreva aqui suas conclusões!